body {
    background: url(./assets/John_William_Waterhouse_-_Ulysses_and_the_Sirens_\(1891\).jpg);
    text-align: center;
    text-decoration: double;
    text-shadow: black;
    color:black;
}
h2 {
    font-style: italic;
}
h1 {
    font-style: italic;
}
div {
    font-style: italic;
}