body {
    background: white;
    text-align: center;
    text-decoration: double;
    text-shadow: black;
    color: black;
}
h1 {
    font-style: italic;
}
h3 {
    font-style: italic;
}
span {

    font-style: italic;
}
legend {
    font-style: italic;
}