/* /* #avatars {
    height: 110px;
}

#avatars img {
    padding-top: 10px;
    height: 100px;
    width: 100px;
}

#avatars img:hover {
    padding-top: 0;
    height: 110px;
    width: 110px;
}

#high-scores {
    list-style-type: none;
}

#high-scores .name,
#high-scores .clicks,
#high-scores .accuracy {
    display: inline-block;
    width: 150px;
} */

body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
body::after{
    background: url(./assets/ocean3.jpeg);
    content: "";
    opacity: 0.7;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left:0 ;
    z-index: -1; 
} 

/* img{
    height: 110px;
    border-style: solid;
    border-width:1px ;
    border-radius: 50%;
    background-color: white;
} */
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}