#avatars {
    height: 110px;
}

#avatars img {
    padding-top: 10px;
    height: 100px;
    width: 100px;
}

#avatars img:hover {
    padding-top: 0;
    height: 110px;
    width: 110px;
}

#high-scores {
    list-style-type: none;
}
body{
    margin: 0;
    align-items: center;
    justify-content: center;
}
body::after{
    background: url(../lost-at-sea/assets/ocean1.jpeg);
    content: "";
    opacity: 0.9;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left:0 ;
    z-index: -1; 
}