body {
    margin: 60px auto;
    width: 70%;
	max-width: 950px;
	background-image: url(/assets/mythology/nautical-map.png);
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

#board {
    display: block;
    margin: auto;
    height: 600px;
    width: 600px;
    background-image: url('../assets/sunkenship.jpeg');
}

.board-space {
    float: left;
    width: 58px;
    height: 58px;
    border: 1px solid #ffffff;
}

p, button, input {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
	margin-bottom:1em;
}