body {
 
}

div#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto; 
    background: url(../assets/mythology/nautical-map.png) no-repeat;  
}
#messageArea {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
}
table {
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0;
}
tr {
    height: 97px;
}
td {
    width: 96px;
    height: 94px;
}
form {
    position: absolute;
    top: 25px;
    right: 0;
    padding: 10px;
    background-color: aquamarine;
    z-index: 100;
}
form input {
    background-color: aqua;
    border-color: black;
    font-size: 1rem;
}
.form-control {
    width: 70% !important;
    margin-right: 5%;
}
