body{
    margin: 0;
    font-family: 'Fredericka the Great', cursive;
    background-image: url(../assets/sailing-ship-675214_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-bottom: 100px;
}

.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background:rgb(68, 75, 75);
    padding: 10px 0;
}
header::after{
    content: '';
    display: table;
    clear: both ;
}
nav{
    float: right;
  
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
display: inline-block;
margin-left: 70px ;
padding-top: 20px;
font-size: 20px;
}
a{
    color: rgb(229, 240, 243);
}
h1{
    width: 100%;
    padding: 25px;
    text-align: center; 
    font-size: 50px;
    top: 30%;
    font-weight: 900;
    color:white;
    margin: 0;
}
h2{
    width: 100%;
    padding: 25px;
    text-align: center; 
    font-size: 40px;
    color: white;
    margin: 0;
}

#status{
    width: 100%;
    padding: 25px;
    text-align: center; 
    font-size: 30px;
    color: white;
    margin: 0;
}

#hits{
    width: 100%;
    padding: 25px;
    text-align: center; 
    font-size: 30px;
    color: white;
    margin: 0;
}

.profile,
#high-scores {
    margin: auto;
    width: 600px;
}

.profile * {
    margin: auto;
    text-align: center;
}

.profile img {
    display: block;
    width: 100px;
    margin: auto;
}

#avatars {
    height: 110px;
}

#avatars img {
    padding-top: 10px;
    height: 100px;
    width: 100px;
}

#avatars img:hover {
    padding-top: 0;
    height: 110px;
    width: 110px;
}

#high-scores {
    list-style-type: none;
}

#high-scores .name,
#high-scores .clicks,
#high-scores .accuracy {
    display: inline-block;
    width: 150px;
}